<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>

<main class="ui5-content-density-compact" >
  <div class="content" style="height: 96%;">

    <ui5-tabcontainer noPad="true" style="height: 100%;">
      <ui5-tab  text="pivot data" selected>    
        <ag-grid-angular style="height: 100%;" #agGrid [rowData]="rowData" [columnDefs]="colDefs" [getRowStyle]="getRowStyle" [groupRowRenderer]="groupRowRenderer" [groupDisplayType]="groupDisplayType"
        [getRowHeight]="getRowHeight" [doesExternalFilterPass]="doesExternalFilterPass" [isExternalFilterPresent]="isExternalFilterPresent"/>
      </ui5-tab>
      <ui5-tab  text="Tab 2">
          <ui5-label>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga magni facere error dicta beatae optio repudiandae vero, quidem voluptatibus perferendis eum maiores rem tempore voluptates aperiam eos enim delectus unde.</ui5-label>
      </ui5-tab>
      <ui5-tab  text="Tab 3">
          <ui5-label>Dignissimos debitis architecto temporibus doloribus reiciendis libero rem nemo, nobis quidem dolor praesentium, beatae voluptatum iste eveniet, nam voluptatem obcaecati ducimus dolore.</ui5-label>
      </ui5-tab>
      <ui5-tab  text="Tab 4">
          <ui5-label>Possimus ipsa eos impedit aut nisi repellendus recusandae, temporibus ducimus, necessitatibus tenetur facere, minima vero fugit rem reiciendis natus ratione quia numquam?</ui5-label>
      </ui5-tab>
      <ui5-tab-separator></ui5-tab-separator>
      <ui5-tab text="Tab 5">
          <ui5-label>Explicabo laboriosam ab consequuntur, qui dignissimos inventore sapiente ullam quaerat ratione libero vero, beatae laudantium! Aperiam numquam tempore, laudantium perferendis recusandae autem.</ui5-label>
      </ui5-tab>
  </ui5-tabcontainer>

  <ui5-bar design="Footer">
      <button (click)="goCallSap()" slot="startContent">call sap</button>
      <button (click)="goToCell()" slot="startContent">goto cell</button>
      <button (click)="clearAllFilters()" slot="startContent">clear all filters</button>
      <ui5-input #ipt slot="endContent"></ui5-input>
  </ui5-bar>


  </div>
</main>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />