/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    /* Ensure the root elements fill the viewport */
    margin: 0;
    /* Remove any default margin */
}

main {
    height: 100%;
    /* Make the <main> element fill its parent */
    display: flex;
    /* Optional: Use flexbox for better content alignment */
    flex-direction: column;
    /* Ensure the content stacks vertically */
}

ui5-tabcontainer[noPad="true"]::part(content) {
    padding: 0px;
}


.cellNote {}

/* Triangle in the top-right corner */
.cellNote::after {
    margin-top: 0.4em;
    margin-right: 0.3em;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 8px solid #0064d98a;
    /* Triangle color */
    border-left: 8px solid transparent;
    /* Transparent left side */
}

.confirmedValue{
    background-color: #30914c30
  }